@import "color";
@import"mixin";

.products{
  
    color: $white;
    
    h1{
        color: inherit;
    }

    & .box-container-product{
          
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        gap: 1.5rem;
          
        & .box{
             text-align: center;
             border: $border;
             padding: 2rem;

             & .icons{
                 color: #fff;
                 & a{
                     height: 5rem;
                     width: 5rem;
                     line-height: 5rem;
                     font-size: 2rem;
                     border: $border;
                     color: inherit;
                     margin: .3rem;

                     &:hover{
                         background: $main-color;

                     }
                 }
             }

             & .image{
                 padding: 2.5rem 0;

                 & img{
                     width: 100%;
                     height: 25rem;
                 }

             }

             & .content{
                color: inherit;

                 & h3{
                    color: inherit;
                    font-size: 2.5rem;

                 }
                & .stars{
                    padding: 1.5rem;

                    & svg{
                        font-size: 1.7rem;
                        color: $main-color;

                    }
                }

                & .price{
                    color: inherit;
                    font-size: 2.5rem;

                    & span{
                        text-decoration: line-through;
                        font-weight: lighter;
                        font-size: 1.5rem;
                    }
                }

             }
        }
    }
}